/artifacts
src/types
bin
cache
contracts.json
coverage*
**/solcInputs
deployments/localhost
node_modules
test/*/
.vscode
.node*
*.bin
*.abi
/out
compute/target
emulator/target
build
emulator/src/*.rs
!emulator/src/lib.rs
.venv
dist
