name: Onchain tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-18.04
    services:
        ganache:
          image: trufflesuite/ganache-cli
          ports:
              - 8545:8545
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
            node-version: '14'
      - run: yarn install

      - uses: actions/setup-python@v1
        with:
            python-version: '3.6'
      - run: pip3 install -r requirements.txt
      
      - run: yarn run deploy
      - run: ./run_python_tests.sh
